.Landing-row {
  text-align: center;
  padding: 50px;
}
.Landing-header {
  margin-bottom: 20px;
}
.Landing-body-text {
  margin-bottom: 20px;
}
.Landing-mascot {
  height: 300px;
}
.Landing-demo-gif {
  height: 350px;
}
.btn-play-now {
  margin-left: 15px;
}
.Landing-engineer-icon {
  border-radius: 50%;
  height: 200px;
  margin-bottom: 20px;
}
.Landing-engineer-links a {
  margin-right: 20px;
}
.Landing-social-icon {
  height: 30px;
}
