.LevelSelect-col {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    filter: drop-shadow(-4px 0px 3px rgba(43, 43, 43, 0.3));
}
.LevelSelect-btns { 
    margin-top: 20px;
}
.LevelSelect-btns button {
    margin-right: 30px;
}
.LevelSelect-btn-submit {
    margin-top: 20px;
    width: 100%;
}