.Nav-row {
  margin-right: 0;
}
.Nav-col {
  padding-right: 0;
}
nav {
  background-color: #5da897;
  filter: drop-shadow(-4px 0px 5px rgba(43, 43, 43, 0.6));
}
.navbar-brand,
.nav-link {
  color: #ffffff;
}
.nav-link {
  margin-left: 10px;
}
.navbar-brand:hover,
nav a:hover {
  color: #475b5a;
}
